@font-face {
    font-family: 'ReformaGroteskMediumC';
    src: url('ReformaGroteskMediumC.woff2') format('woff2'),
        url('ReformaGroteskMediumC.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

